#banner
  .banner_content
    %h1 NoteNote
    %p Your online notebook. Never forget an idea again.
    %button_to= link_to "Sign Up", new_user_registration_path, class: "button"
#testimonial
  .wrapper
    %p.quote "The greatest notebook application. Period."
    %p.name - Some Guy
#callouts
  .callout_inner
    .wrapper
      .callout
        %i.fa.fa-pencil
        %h2 Notes
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula velit dui, lobortis scelerisque turpis scelerisque eget. Phasellus ac luctus elit. Donec aliquet erat non ante feugiat, eu euismod massa iaculis. Praesent nibh ligula, porta at sem at, interdum interdum ipsum. Ut quis augue eu sem cursus lobortis vel consectetur leo. Quisque iaculis mauris sit amet auctor posuere. Phasellus feugiat massa ut turpis pretium, sit amet tincidunt lectus vestibulum. Mauris iaculis ac urna sed lacinia. Fusce viverra tellus tellus, at viverra mi tincidunt at. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum lacinia ante ut libero maximus porttitor. Nulla feugiat arcu sit amet urna rhoncus, et facilisis diam posuere. Proin scelerisque pharetra nisi ut posuere. 

      .callout
        %i.fa.fa-rocket
        %h2 Notes
        %p Nulla consectetur molestie dui, et laoreet nibh imperdiet vitae. Duis commodo cursus magna. Aenean aliquet, mi vel venenatis consequat, risus dolor eleifend arcu, id pulvinar dui tellus nec urna. Donec non mi tempor neque ullamcorper accumsan vitae nec purus. Suspendisse nec orci quis massa sollicitudin rutrum. Quisque efficitur dui a porttitor congue. Cras consectetur diam non sem vestibulum vehicula. Sed sit amet ex nibh. Phasellus euismod ex non felis vehicula porttitor. Pellentesque mi quam, elementum nec orci id, tempus suscipit libero. Nam lobortis enim vitae nulla mollis tempor. Maecenas aliquam quam gravida libero tincidunt porta. Duis eget est est. Proin scelerisque mattis nunc, nec sodales nisl iaculis quis. Donec quis maximus turpis. Nam risus justo, tempus a interdum mollis, hendrerit ac augue. Duis ultrices tempor nisi. 

      .callout
        %i.fa.fa-bolt
        %h2 Notes
        %p Pellentesque vestibulum, neque eget tincidunt tincidunt, neque mi rhoncus ante, eleifend consequat arcu diam ac velit. Pellentesque facilisis, sapien in auctor gravida, nisi mi tincidunt dui, ac pretium tortor ante ac tortor. Nullam dictum sit amet est eget consequat. Curabitur pretium quam neque, in condimentum purus egestas a. Donec rutrum libero eu eros aliquam, in molestie sem tempus. Mauris at interdum leo. Quisque a augue at eros consectetur porttitor. Nulla aliquet lorem arcu, et dapibus mauris auctor id. Morbi tempor odio eleifend ex commodo pellentesque. Nunc id sollicitudin libero. Curabitur pharetra tortor augue, ac sagittis leo fringilla sit amet. Praesent finibus ullamcorper consequat. Integer finibus, massa at gravida placerat, nibh nulla pellentesque nisi, eget finibus libero mi ac nisl. Vestibulum sed eros ac purus tempus fermentum. 
#bottom_cta
  .wrapper
    %h2 For Real!
    %p I want you to sign up... If you don’t, I will find you!
    %button_to= link_to "Click Me!", new_user_registration_path, class: "button"

%footer
  %p &copy; Mackenzie Child